
 /* Base styles for the entire page */
 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: antiquewhite
}

/* Styling for the header section */
header {
  background-image: url('mangaimages/Kyoto-Image.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  padding: 100px 20px;
  text-align: center;
  height: 70vh;
}

header h1 {
  color: antiquewhite
}

/* Styling for the ribbon section */
.ribbon {
  width: 100%;
  background-color: #444;
  height: 30px;
}

/* Container for main content */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Styling for the 'Manga' title */
.manga {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 100%;
}

/* Styling for the lorem ipsum text 
.lorem-ipsum {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}*/

/* Container for manga cards */
.manga-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; /* Adjust the width as needed */
}

/* Styling for individual manga cards */
.manga-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(30% - 20px);  /* Adjust width based on the number of columns */
  box-sizing: border-box; 
  transition: transform 0.3s;        
}

.manga-card:hover {
  transform: scale(1.05);
}

/* Styling for manga card images */
.manga-card img {
  max-width: 100%; /* Decreased the width */
  height: auto;
  margin-bottom: 10px;
}


/* Styling for manga card information */
.manga-info h2 {
  margin-top: 0;
  color: #324aa9;
}

.manga-info a {
  color: #324aa9;
}

.manga-info p {
  margin: 5px 0;
}

/* Styling for the list of manga series */
.manga-series-list {
  margin-top: 40px;
  text-align: center;
}

.manga-series-list h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.manga-series-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.manga-series-list li {
  font-size: 16px;
  margin-bottom: 10px;
}




/* ----------------------------NAVBAR CSS BELOW------------------------------- */


/*Navbar related CSS below*/
.navbar { /*Contains navbar content*/
    position: fixed; /* or position: sticky; */
    top: 0;
    z-index: 1000; /* Ensure it's above other content */
    overflow: hidden;
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f2f2f2;
  }
  
  .navbar a { /*Individual Links*/
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .toggle-button { /*toggle does not display on large devices*/
    display: none;
  }
  
  /*Meant for smaller screens*/
  @media (max-width: 700px) {
  
    .navbar-links { /*Contains all the links*/
      display: block;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      top: 0;
      background-color: #333;
    }
  
    .navbar-links a { /*Individual links*/
      text-align: center;
      padding: 14px 14px;
      display: none;
      color: #f2f2f2;
      width: 100%;
    }
  
  /*When toggle is clicked, links will show under*/
    .navbar-links a.active { 
      display: block;
    }
  
    .toggle-button { /*The box containing the 3 stacked lines*/
      display: block;
      background-color: #333;
      border: none;
      padding: 10px;
      cursor: pointer;
      width: 50px;
    }
  
    .toggle-button:hover {
      background-color: #ddd;
    }
   
    .navbar .toggle-button span { /*The 3 stacked lines (menu)*/
      background-color: #ddd;
      height: 3px;
      width: 100%;
      display: block;
      margin: 5px;
      margin-left: 0px;
      border-radius: 13px;
    }
  
    .toggle-button:hover span {
      background-color: #333;
    }
    
    .navbar a:hover {
      background-color: #ddd;
      color: black;
    }
  
  
  /* Styles for clicked state of toggle button */
  .toggle-button.active {
    background-color: #ddd;
  }
  
  /* Styles for clicked state of toggle button contents */
  .toggle-button.active span {
    background-color: #333;
  }
  
    
  /*Default style for links*/
  .navbar-links a {
    background-color: #333;
    color: #ddd;
  }
  
  }
  /*Navbar related CSS Above*/
  
  
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin: auto;
  }
  
  /*fantasy page*/
  
  .fantasy-images {
    text-align: center;
  }
  
  .fantasy-images img {
    width: 200px;
    height: auto;
    cursor: pointer;
    margin: 5px;
  }
  
  /*Timer & Image Styling*/
  #timer {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 20px;
  }
  
  #imageContainer {
    text-align: center;
    margin-top: 20px;
  }
  
  #changingImage {
    width: 300px; 
    height: auto; 
  }
  
  h3 {
    color: blue;
    font-size: 30px;
  }