* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  text-align: center;
  background-color:white;

}

img {
  margin-bottom: 70px;
  margin-top: 10px;
}


.statment {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color:#333;
  padding: 20px;
}

.statment p {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 2px 2px 4px #453090;

}

.grid {
  display: flex;
  justify-content: space-between;
}

.item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.item img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.story-section {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  text-align: center; /* Center the content */
}

.section-title {
  color: #453090;
  margin-bottom: 10px; /* Add space between title and list */
}

.story-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the list items */
  flex-wrap: wrap; /* Wrap the list items if they exceed the width */
}

.story-item {
  font-size: 18px;
  margin: 0 10px 10px 10px; /* Adjust spacing between items */
}

/* Adding some hover effect to the list items */
.story-item:hover {
  color: green; /* Change color on hover */
  cursor: pointer;
}
/* Optional: Add responsive styles for smaller screens */
@media (max-width: 768px) {
  .grid {
      flex-direction: column;
  }
}



/*Navbar related CSS below*/
.navbar { /*Contains navbar content*/
  overflow: hidden;
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f2f2f2;
}

.navbar a { /*Individual Links*/
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.toggle-button { /*toggle does not display on large devices*/
  display: none;
}

/*Meant for smaller screens*/
@media (max-width: 700px) {

  .navbar-links { /*Contains all the links*/
    display: block;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    top: 0;
    background-color: #333;
  }

  .navbar-links a { /*Individual links*/
    text-align: center;
    padding: 14px 14px;
    display: none;
    color: #f2f2f2;
    width: 100%;
  }

/*When toggle is clicked, links will show under*/
  .navbar-links a.active { 
    display: block;
  }

  .toggle-button { /*The box containing the 3 stacked lines*/
    display: block;
    background-color: #333;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 50px;
  }

  .toggle-button:hover {
    background-color: #ddd;
  }
 
  .navbar .toggle-button span { /*The 3 stacked lines (menu)*/
    background-color: #ddd;
    height: 3px;
    width: 100%;
    display: block;
    margin: 5px;
    margin-left: 0px;
    border-radius: 13px;
  }

  .toggle-button:hover span {
    background-color: #333;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }


/* Styles for clicked state of toggle button */
.toggle-button.active {
  background-color: #ddd;
}

/* Styles for clicked state of toggle button contents */
.toggle-button.active span {
  background-color: #333;
}

  
/*Default style for links*/
.navbar-links a {
  background-color: #333;
  color: #ddd;
}

}
.bottom-div{
  background-color: #333;
}
/*Navbar related CSS Above*/


footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  margin: auto;
}

/*Timer & Image Styling*/
.bottom-div #timer {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

.bottom-div #imageContainer {
  text-align: center;
  margin-top: 20px;
}

.bottom-div #changingImage {
  width: 300px; 
  height: auto; 
}

.bottom-div {
  color: white;
  font-size: 30px;
}